body {
    margin: 0;
    padding: 0;
    font-family: arial;
}

.navbar {
    top: 0;
    background-color: #1d9bf0;
    color: white;
    height: 64px;
}

.navbar-links {
    top: 30%;
    left: 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    float: left;
    position: absolute;
}

.navbar-link {
    margin-right: 12px;
    text-decoration: none;
    color: white;
}

.section {
    height: 600px;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: black;
}

.section-header {
    font-size: 64px;
}

.section-subtitle {
    font-size: 32px;
}

.section-text {
    font-size: 14px;
}

#tweet {
    height: 150px;
    font-size: 24px;
    list-style-type: none;
}