<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TwitterClone - Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<nav class="navbar">
    <div class="navbar-items">
        <div class="navbar-item">
            <a href="http://localhost/home" class="navbar-link">Home</a>
        </div>
        <div class="navbar-item">
            <a href="http://localhost/feed" class="navbar-link">Feed</a>
        </div>
    </div>
</nav>

<section class="section" id="home-section">
    <div class="section-content" id="home-content"></div>
    <div class="section-header" id="home-header">Twitter Clone</div>
    <div class="section-subtitle" id="home-subtitle">A practice twitter clone.</div>
    <div class="section-text" id="home-text"></div>
    <div class="section-button" id="home-section-button">
        <a href="http://localhost/register" class="section-button-item" id="home-signup-button">CREATE ACCOUNT</a>
    </div>
</section>


</body>
</html>